.app-header {
  height: 20vh;
}
.middle-page {
  height: 60vh;
  display: flex;
}

.app-footer {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  width: 30%;
  margin: auto;
  text-align: center;
}

.content {
  width: 70%;
  margin: auto;
  text-align: center;
}
