body {
    display: flex;
    justify-content: center;
}

.app {
  display: grid;
  grid-template-columns: 300px 500px;
  grid-template-rows: 200px 800px 200px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  gap: 10px;
}

.name {
  color:mediumblue;
}

.theme {
  height: 20px;
}

.wrappertop {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

