.app {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item-container{
  display: flex;
  margin-bottom: 10px;
  max-width: 50%;
}

.item-image{
  max-width: 100px;
}

.item-title{
  font-size: 1.5rem;
}

.item-description{
  font-size: 0.8rem;
}
